<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Admin</span>
    
    
    



        <label class="switch">
          <input type="checkbox" (click)="changeStatus(1)">
          <div class="slider round"></div>
        </label>
        &nbsp;&nbsp;&nbsp;
        <label class="switch">
          <input type="checkbox" (click)="changeStatus(2)">
          <div class="slider round"></div>
        </label>
        &nbsp;&nbsp;&nbsp;
        <button type="button" (click)="logOut()" class="btn btn-outline-danger">
            Salir
            <span class="material-icons"  style="font-size: 13px;">
              logout
            </span>
    
        </button>
      </div>
</nav>